body{
  /*background-color:	#E0FFFF;#5F9EA0*/
  background-color:rgba(95,158,160,0.8);
}
.buttonLeft {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  color: white;
  border-right:70px solid rgba(255, 255, 255, 0.6);
  position: absolute;;
  left: 230px;
  top: 300px;
}
.buttonRight {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  color: white;
  border-left:70px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 1070px;
  top: 300px;
}

.mySlides {
/*
    display: block;
    margin: auto;
    width: 50%;
    */
    position: relative;
    top: 70px;
    left: 50%;                         /* 3 */
    transform: translate(-50%, 0);

  }
h2 {
    text-align: center;
    font-family: "Courier New";
    color: rgba(0, 0, 0, 0.8);
    font-size: 40px;
}
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
