body{
  /*background-color:	#E0FFFF;*/
  background-color: #5F9EA0;
}
.buttonLeft {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  color: white;
  border-right:70px solid green;
  position: absolute;
  left: 230px;
  top: 200px;
}
.buttonRight {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  color: white;
  border-left:70px solid green;
  position: absolute;
  left: 1070px;
  top: 200px;
}

.buttonLeftOld {
    background-color: #4CAF50; /* Green */
    /*border: none;*/
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 200px;
    top: 400px;
}
.buttonRightOld {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 1000px;
    top: 400px;
}

.mySlides {
    display: block;
    /*margin: auto;
    width: 50%;*/
    position: relative;
    top: 800px;
  }
.center {
  display: block;
  margin: auto;
  width: 50%;
  position: relative;
  top: 400px;
}
